<form>
  <%= form_for(@task) do |t| %>
  <div class="mb-3">
      <%= t.label :title, class:"form-label" %>
      <%= t.text_field :title %>
  </div>
  <div class="mb-3">
      <%= t.label :details, class:"form-label" %>
      <%= t.text_field :details %>
  </div>
    <%= t.submit%>
</form>
  <% end %>

<button type="button" class="btn btn-light"><%= link_to 'Back to home', tasks_path %></button>
