<div class="container">
  <h1><%= @task.title %></h1>
  <p>Details: <%= @task.details %> </p>
</div>


<button type="button" class="btn btn-light"><%= link_to 'Back to home', tasks_path %></button>
<button type="button" class="btn btn-light"><%= link_to 'Edit', edit_tasks_path %></button>
<button type="button" class="btn btn-light"><%= link_to 'Delete this task', task_path, method: :delete, data: { confirm: "Are you sure? " } %></button>
